/* =========================
   Light Theme (light.css)
========================= */

:root {
    --primary-bg: #f9f9f9;
    --button-bg: #f0f0f0;
    --button-color: #222;
    --text-color: #222;
    --border-color: #ccc;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-color);
    background-image: linear-gradient(rgba(24, 24, 24, 0.8),
            rgba(255, 255, 255, 0.8)), url(/images/rhino404.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background-attachment: fixed;
}

.choice-btn,
.level-btn,
.category-btn,
.shuffle {
    background: var(--button-bg);
    border-color: var(--border-color);
    color: var(--text-color);
}

.choice-btn.correct {
    background: #c8f7c5;
}

.choice-btn.incorrect {
    background: #f7c5c5;
}

.explanation {
    background: #fff;
    border-color: var(--border-color);
}

#ad-slot {
    background: #eee;
    color: #222;
}

footer {
    color: #fff;
}

.social-icon {
  color: black;
}

.tag-filter-title {
  color: #333;
}

.tag-filter-btn {
  background: linear-gradient(145deg, #f0f0f0, #dcdcdc);
  color: #333;
}

.tag-filter-btn:hover {
  background: linear-gradient(145deg, #e0e0e0, #cfcfcf);
  /* box-shadow: 0 0 6px rgba(0, 128, 128, 0.2); */
}

.tag-filter-btn.active {
  background: #008080;
  color: #000;
  /* box-shadow: 0 0 6px rgba(0, 128, 128, 0.5); */
}